<!DOCTYPE html>
<html>
    <head>
        <title>Landing Page</title>
    </head>
    <body>
        <div>
            <h1>Landing page!</h1>

            {% if user %}
                <div>Hello: {{ user["name"] }}.</div>
                <div>
                    Your email is: {{ user["email"] }}
                </div>
                <div>
                    <h3>Profile picture</h3>
                    <img src='{{ user["image"] }}' />
                </div>
            {% else %}
                <div>You are not logged in</div>
                <a class="button" href="/api/auth/google/login">Google Login</a>
            {% endif %}
        </div>
    </body>
</html>