<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
    </head>
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <h2 class="active">Register</h2>

                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="{{ url_for('static', filename='images/user.png') }}" id="icon" alt="User Icon" />
                </div>

                <!-- Login Form -->
                <form method="post">
                    <input type="text" id="username" class="fadeIn first" name="username" placeholder="username">
                    <input type="text" id="email" class="fadeIn second" name="email" placeholder="email">
                    <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
                    <input type="submit" class="fadeIn fourth" value="Log In">
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover" href="#">Forgot Password?</a>
                </div>
            </div>
        </div>
    </body>
</html>